* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Silkscreen;
  src: url(fonts/Silkscreen-Regular.ttf);
}

@font-face {
  font-family: Titillium;
  src: url(fonts/TitilliumWeb-Regular.ttf);
}

body {
    background-color: #F9F6EE;
  }

.header {
  background-color: #979693;
  overflow: hidden;
}

.header h1 {
  color: #754239;
  text-shadow: 2px 2px black;
  font-family: Silkscreen;
  font-size: 35px;
  margin: 2% 10% 2% 10%;
  float: right;
  }

nav {
  padding: 1% 10% 1% 0;
  background-color: #cccac5;
  overflow: hidden;
}

nav a {
  color: #684c46;
  text-decoration: none;
  text-shadow: 1px 1px black;
  font-family: Silkscreen;
  padding: 0 5px 0 5px;
  margin: 5px;
  float: right;
  border-style: solid;
}

nav a:hover {
  font-family: Silkscreen;
  text-decoration: none;
  color: #ff8873;
  padding: 0 5px 0 5px;
  margin: 5px;
  float: right;
  border-style: solid;
}

.wrapper {
  width: 100%;
}

.adder {
  width: auto;
  margin: 15px 15px 15px 15px;
  padding: 15px 15px 15px 15px;
  background: #e9e7e3;
  border-radius: 10px;
  border: 3px solid #92918d;
  font-family: Titillium;
}

.adder-image {
  width: 98%;
  display: block;
  margin: 10px auto 10px;
  border-radius: 10px;
  border: 3px solid #92918d;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 85%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 70%;
    margin: 0 auto;
  }

  .adder {
    overflow: hidden;
  }

  .adder-image {
    margin-right: 10px;
    width: 50%;
    float: left;
  }

  article h2 {
    font-size: 35px;
  }

  article p {
    font-size: 25px;
  }
}