@font-face {
  font-family: Silkscreen;
  src: url(fonts/Silkscreen-Regular.ttf);
}

@font-face {
  font-family: Titillium;
  src: url(fonts/TitilliumWeb-Regular.ttf);
}

body {
  margin: 0;
    background-color: #F9F6EE;
  }

.header {
  background-color: #979693;
  overflow: hidden;
}

.header h1 {
  color: #754239;
  text-shadow: 2px 2px black;
  font-family: Silkscreen;
  font-size: 35px;
  margin: 2% 10% 2% 10%;
  float: right;
  }

nav {
  padding: 1% 10% 1% 0;
  background-color: #cccac5;
  overflow: hidden;
}

nav a {
  color: #684c46;
  text-decoration: none;
  text-shadow: 1px 1px black;
  font-family: Silkscreen;
  padding: 0 5px 0 5px;
  margin: 5px;
  float: right;
  border-style: solid;
}

nav a:hover {
  font-family: Silkscreen;
  text-decoration: none;
  color: #ff8873;
  padding: 0 5px 0 5px;
  margin: 5px;
  float: right;
  border-style: solid;
}

.wrapper {
  margin: 0 15% 0 15%;
}

p {
    font-family: Titillium;
    font-size: 25px;
    color: #2d86fa;
  }
/*
@media screen and (max-width: 500px) {
  nav a {
    font-size: 22px;
    float: right;
    display: block;
  }
  
}*/