---
import Layout from "../layouts/Layout.astro";
---

<Layout>
<ul>
<li><a href="/contact">Contact</a></li>
<li><a href="/about">about</a></li>
<li><a href="/projects">projects</a></li>
</ul>
</Layout>
<style>
  li {
    font-size: larger;
  }
</style>
