---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h2>Projects:</h2>
  <ul>
    <li><a href="">Coming soon!</a></li>
  </ul>
</Layout>
<style>
h2 {
	text-align: center;
}
ul {
list-style: none;
}
</style>
